@using WebApplication3.Web.Models;

@{
    ViewData["Title"] = "Home Page";
    var product=new Product() {Id=1,Name="Renault",Price=5000,Stock=500};
}

<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialView/_ProductListPartialView.cshtml" model="ViewBag.ProductListPartialViewModel"></partial>
    </div>

    <div class="col-md-4">
        @*Other way*@
        @*@await Component.InvokeAsync("ProductList", new {type=1} );*@

        <vc:product-list type="1"></vc:product-list>
    </div>

    <italic>emircan</italic>
    <product-show product="@product"></product-show>
    <img src="C:/Users/badbo/OneDrive/Desktop/car.jpg">
    <image-thumbnail image-src="C:/Users/badbo/OneDrive/Desktop/car.jpg"></image-thumbnail>

</div>









