@using WebApplication3.Web.Models;

@{
    ViewData["Title"] = "Privacy";
}

<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialView/_ProductListPartialView.cshtml" model="ViewBag.ProductListPartialViewModel"></partial>
    </div>
</div>


<div class="col-md-4">
    
    @*other way*@
    @*@await Component.InvokeAsync("ProductList", new {type=2} )*@

    <vc:product-list type="2"></vc:product-list>
</div>



