@using WebApplication3.Web.ViewModels;
@model List<ProductListViewComponentModel>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    
    <tbody>

        @foreach(var item in Model){
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
            </tr>
        }

    </tbody>

</table>